apiVersion: 1

providers:
- name: '{{ item }}'
  orgId: 1
  folder: '{{ item }}'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 60 #how often Grafana will scan for changed dashboards
  options:
    path: {{ grafana_path }}/grafana/dashboards/{{ item }}